@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Open Sans.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  src: url('../fonts/Open Sans.woff2') format('woff2');
}
