$color-dark:  #333;
$color-gray:  #818181;
$color-gray-light:  #cccccc;
$color-white: #fff;

$color-accent:          #f4c83b;
$color-primary-dark:    #65bb7e;
$color-primary:         #90cfa6;
$color-primary-light:   #b8dfc5;
$color-primary-lighter: #cfe8d7;
$color-red:             #de5e5e;

$margin: 20px;
$padding: 20px;

$body-padding: 0;
$popup-padding: 20px;
